@viewport {
    width: device-width ;
    zoom: 1.0 ;
  }

body {
    width: 50%;
    margin: auto;
    margin-top: 2em;
    background-color: white;
}
button {
    cursor: pointer;
}
li {
    list-style-type: none;
    margin: auto;
    font-size: xx-large;
    cursor: default;
}


#logo {
    height: 3em;
    width: 90%;
    text-align: center;
    font-size: x-large;
    /* border: 2px solid black; */
    margin: auto;
}
img {
    max-width: 45%;
    max-height: 3em;
}


#menuBar {
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: 2em;
    font-size: x-large;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin: auto;
    margin-top: .5em;
    margin-bottom: .5em;
    padding-right: 40px;
    max-width: 84%;
}
#homeButton, #kitchenButton,
#jewelryButton, #womenButton, 
#menButton, #newButton,
#saleButton {
    font-size: 20px;
    padding: 0;
    border: none;
    background: none;
}
/* #saleButton {
    padding-right: 40px;
} */


#mainContent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    height: 30em;
    background-color: rgb(241, 241, 241);
    margin: auto;
}
#mainContentHead {
    font-size: 72px;
    font-family: Times, serif;
    color: #0072BB;
    text-align: center;
}
#mainContentInfo {
    font-family: Helvetica, sans-serif;
    color: darkslategrey;
    font-size: 30px;
    text-align: center;

}
#mainContentButton {
    margin: 0 auto;
}
#cartButton {
    width: 10em;
    height: 3em;
    font-size: 30px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #0072BB;
    font-family: Helvetica, sans-serif;
    font-style: italic;
}




#advertisementDiv {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
#quoteDiv, #donateDiv,
#returnsDiv {
    border: 1px solid black;
    width: 350px;
    height: 350px;
    text-align: center;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#quoteDiv {
    font-size: x-large;
    color: rgb(244, 244, 244);
    background-color: rgb(121, 194, 138);
    font-family: Helvetica, sans-serif;
    font-style: italic;
}
#donateDiv {
    font-size: x-large;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTURBlJKEWM3PE9NnMzd52pno5dCX7odE6KPQ&usqp=CAU);
    color: rgb(244, 244, 244);
    background-size: cover;
}
#btg {
    font-size: xx-large;
}
#learnButton {
    background-color: transparent;
    color: white;
    border: none;
}
#returnsDiv {
    color: white;
    background-color: #0072BB;
    font-size: 36px;
}




#optionsBar {
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: 2em;
    font-size: medium;
    border-bottom: 2px solid black;
    margin: auto;
    margin-top: .5em;
    margin-bottom: .5em;
    padding-top: 1em;
    padding-bottom: 2em;
}
#optionsButtons {
    display: flex;
    width: 70%;
}
#contactButton, #aboutButton,
#catalogRequestButton, #giftsAndBulkButton, 
#blogButton {
    font-size: medium;
    padding: 0;
    border: none;
    background: none;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
#socialLinks {
    display: flex;
    width: 20%;
}




#closingDiv {
    width: 90%;
    margin: auto;
    padding: 2em;
    font-size: medium;
    /* border-top: 2px solid black; */
}




.fa {
    text-align: center;
    margin: auto;
    padding-top: 10px;
    margin-left: .15em;  
    margin-right: .25em;  
    font-size: 30px;  
    width: 2em;
    height: 1.5em;
    border-radius: 50%;
}  
.fa-facebook { 
    /* margin-left: 2em;  */
    background: #39719c;  
    color: white;  
}
.fa-twitter {  
    background: #39719c;  
    color: white;  
}
.fa-pinterest {  
    background: #39719c;   
    color: white;  
}
.fa-instagram {  
    background: #39719c;  
    color: white;  
}




footer {
    width: 90%;
    margin: auto;
    font-family: Helvetica, sans-serif;
    font-size: small;
}


